.bg-img1 {
  background-image: url('../Images/Hi\ Res\ Render\ -\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .bg-img1 {
    background-image: url('../Images/Render 1-mobile.png');
  }
}